.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart .title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
  height: 175px;
  /* margin-bottom: 1rem; */
  padding-left: 30px;
}

.cartItem .description {
  width: 100%;
  font-size: 20px;
  padding-left: 30px;
}

.countHandler input {
  /* width: 80px; */
  margin-left: 0px;
  height: 20px;
  text-align: center;
  font-weight: bolder;
  padding-left: 0px;
  /* padding-right: 0rem; */
}

/* .checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
} */

.cart .checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 50%;
}
/* .checkout button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background: rgb(93, 70, 56);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: rgb(215, 186, 151);
  font-weight: 700;
  margin: 10px;
} */

.cart .checkout button {
  width: 25%;
  height: 30px;
  background: rgb(93, 70, 56);
  border: none;
  /* color: white; */
  font-weight: bolder;
  cursor: pointer;
  margin: 5px;
}