.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  color: rgb(93, 70, 56);
}
  
/* .sidebar-items {
  margin-top: 20px;
} */

.category-filter {
  /* display: flexbox; */
  align-content: center;
  margin-left: 30px;
}

.sidebar-label-container {
  display: flex;
  align-items: center;
  width: 150px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  width: 150px;
  /* cursor: pointer; */
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c0a284;
  border-radius: 50%;
}

/* .all {
  background: linear-gradient(blue, crimson);
} */

.sidebar-label-container:hover input ~ .checkmark {
  background-color: rgb(142, 109, 56);
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: rgb(93, 70, 56);
}

/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
} */

/* .line {
  margin-top: 3rem;
  border-color: #f7f7f7;
} */