.carousel {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}

.review-card {
  max-width: 600px;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  /* background: rgba(93, 70, 56, 0.8); */
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.5); */
}

.review-card p, .review-card h4{
  font-size: 1.2rem;
  color: rgb(224, 200, 170);
  margin-bottom: 1rem;
}
.button {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.stars {
  color: rgb(224, 200, 170);
  margin-bottom: 1rem;
}