.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* min-height: 10vh; */
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: rgb(215, 186, 151); */
    color: rgb(93, 70, 56);
    /* padding: 30px; */
}

.form {
    display: table;
}

.shopping-cart, .credit-card {
    flex: 1;
    color: rgb(93, 70, 56);
    padding: 30px;
}


.wrapper h1 {
    padding: 10px;
    font-size: 36px;
    text-align: center;
    color: rgb(93, 70, 56);
}

.wrapper .input-box {
    display: table-row;
    /* flex-direction: row;
    align-items: center; */
    /* justify-content: center; */
    width: 100%;
    /* margin: 20px; */
    /* background-color: rgb(215, 186, 151); */
    margin: 5px;
}

.input-box input {
    display: table-cell;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(93, 70, 56);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(93, 70, 56);
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.input-box input::placeholder {
    color: rgb(93, 70, 56);
}

.checkout button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 30px;
    background: rgb(93, 70, 56);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(215, 186, 151);
    font-weight: 700;
}