
.card-container {
  height: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -1;
  margin-bottom: 2rem;
}
  
.card {
  /* height: 350px; */
  /* flex: 1; */
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}
  
.card-img {
  width: 200px;
  height: 175px;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

/* .card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
} */

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}
