.fav{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fav .title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fav .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    /* margin-top: 2rem; */
    z-index: -2;
}

.favItem {
    /* height: 350px; */
    width: 250px;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}

.favItem img {
    width: 200px;
    height: 175px;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.fav .checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5px;
}

.fav .checkout button {
    width: 25%;
    height: 30px;
    background: rgb(93, 70, 56);
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin: 5px;
}

.fav .checkout button:active {
  background: rgb(224, 200, 170);
  color: rgb(93, 70, 56);
}