.recommended-flex {
  display: flex;
  margin-left: 21rem;
  /* min-height: 30%; */
}

.recommended-title {
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: rgb(93, 70, 56);
}