*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* .App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
} */

.app {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
} */

main {
  flex: 1;
  display: flex;
}