.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
  color: rgb(93, 70, 56);;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #333;
}

.breadcrumb-item.active {
  color: rgb(93, 70, 56);;
}