
.success-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* gap: 20px; */
}
.success-page h1, .success-page h2, .success-page p{
    color: rgb(93, 70, 56);
}

.success-page p{
    max-width: 600px;
    text-align: center;
}

.success-page .cart {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.success-page .checkout {
    margin: 10px;
}
.success-page .checkout button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120%;
    height: 30px;
    background: rgb(93, 70, 56);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(215, 186, 151);
    font-weight: 700;
}

.success-page .checkout button:active{
    background: rgb(224, 200, 170);
    color: rgb(93, 70, 56);
}

