.fav{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fav .title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(93, 70, 56);
}

.fav .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    /* margin-top: 2rem; */
    z-index: 0;
}

.favItem {
    /* height: 350px; */
    width: 250px;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
}

.favItem img {
    width: 200px;
    height: 175px;
    margin-bottom: 1rem;
}

.favItem .description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-title {
    margin-bottom: 1rem;
    color: rgb(93, 70, 56);
}

.fav .checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5px;
}

.fav .checkout button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: 25%;
  height: 30px;
  background: rgb(93, 70, 56);
  color: rgb(215, 186, 151);
  border: none;
  /* color: white; */
  font-weight: bolder;
}
