.footer {
  width: 100%;
  height: 200px;
  background-color: rgb(224, 200, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  /* position: relative; */
  /* z-index: -2; */
}

.socialMedia svg {
  color: rgb(93, 70, 56);
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: rgb(93, 70, 56);
}