h2{
    /* position: absolute;  */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: rgb(93, 70, 56);
}

.categories {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categories .card {
    width: 260px;
    padding: 30px;
    
}

.categories .card .img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .card .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgb(93, 70, 56)
}

.reviews {
    width: 100%;
    height: 250px;
    background-color: rgba(93, 70, 56, 1);
    display: flex;
    flex-direction: column;
}