.categories-title {
    /* position: absolute;  */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.categories {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categories .card {
    width: 260px;
    padding: 30px;  
    border: 2px solid rgba(93, 70, 56, 1);  
}

.categories .card .img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .card .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgba(93, 70, 56, 1);
}

.reviews {
    width: 100%;
    height: 250px;
    background-color: rgba(93, 70, 56, 1);
    display: flex;
    flex-direction: column;
}