/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
} */

.displayLayout{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.displayContent h1{
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-right: 15%;
  color: rgb(93, 70, 56);
  padding: 10px;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

/* .display-layout {
  display: flex;
  flex: 1;
} */

/* .sidebar {
  width: 250px;
  background-color: rgb(237, 223, 213);
} */

.displayContent {
  flex: 1;
  padding: 20px;
}