.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(224, 200, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

/* LEFT SIDE (LOGO) */
.leftSide {
  display: flex;
  align-items: center;
}

.leftSide img {
  height: 60px;
  width: auto;
}

/* RIGHT SIDE (NAV LINKS) */
.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.rightSide a {
  color: rgb(93, 70, 56);
  text-decoration: none;
  margin-left: 25px;
  font-size: 16px;
}

/* MENU BUTTON */
.rightSide button {
  background: none;
  border: none;
  color: rgb(93, 70, 56);
  cursor: pointer;
  display: none;
}

.rightSide svg {
  font-size: 32px;
}

/* MOBILE MENU */
.hiddenLinks {
  display: none;
}

.hiddenMenu {
  display: none;
}

/* OPEN / CLOSE STATES */
.open .hiddenLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  width: 25%;
  background-color: rgb(224, 200, 170);
  padding: 10px;
  z-index: 1000;

}

/* TABLET */
@media (max-width: 900px) {
  .navbar {
    padding: 0 25px;
  }
}

/* MOBILE */
@media (max-width: 600px) {

  /* Hide horizontal links */
  .rightSide > a {
    display: none;
  }

  /* Show hamburger */
  .rightSide button {
    display: block;
  }

  .hiddenMenu {
    display: block;
    position: relative;
    gap: 8px;
    display: flex;
  }

  .hiddenMenu svg {
    color: rgb(93, 70, 56);
  }
  

}