.product-detail{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.product-detail img {
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    object-fit: cover;
}

.product-detail .text {
    max-width: 600px;
    text-align: center;
    margin: 20px;
    line-height: 1.5;
}

.product-detail .text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.product-detail .text h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.product-detail .text p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* .product-detail .text .buttons */

.product-detail .text .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.product-detail .text .buttons button {
  width: auto;
  height: 30px;
  background: rgb(93, 70, 56);
  color: rgb(224, 200, 170);
  border: none;
  /* color: white; */
  font-weight: bolder;
  cursor: pointer;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 25px;
}

.product-detail .text .buttons button:active {
    background: rgb(224, 200, 170);
    color: rgb(93, 70, 56);
}

.product-detail .text .buttons input {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid rgb(93, 70, 56);
    border-radius: 5px;
}