.sidebar {
  padding-top: 15vh;
  background-color: rgb(237, 223, 213);
  width: 30vh;
  position: absolute;
  /* height: 100vh; */
  min-height: 100vh;
  border-right: 2px solid rgb(224, 200, 170);
  z-index: -1;
  display: flexbox;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}