.sidebar {
  background-color: rgb(237, 223, 213);
  width: 15%;
  position: absolute;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}