*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  /* grid-template-rows: auto 1fr auto; */
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
}

body {
  padding: 0;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}
