nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}
  
input {
    padding-inline-start: 20px;
    border: none;
    background: #faebd7;
    outline: none;
    margin-left: 25%;
    border-radius: 5px;
    position: relative;
    width: 15rem;
}
  
.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
}